{
  "extends": [
    "airbnb",
    "plugin:security/recommended"
  ],
  "plugins": [
    "security"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-console": "off",
    "camelcase": "off"
  }
}